[submodule "ou_lif"]
	path = ou_lif
	url = git@github.com:achilleas-k/ou-lif-brian.git
	branch = master
[submodule "slope_vs_dist"]
	path = slope_vs_dist
	url = git@github.com:achilleas-k/slope-vs-dist-brian.git
	branch = master
[submodule "spikerlib"]
	path = spikerlib
	url = git@github.com:achilleas-k/spikerlib
	branch = master
[submodule "connectivity"]
	path = connectivity
	url = git@github.com:achilleas-k/connectivity
	branch = master
[submodule "delay_learning"]
	path = delay_learning
	url = git@github.com:achilleas-k/delay-learning-brian
	branch = master
[submodule "networks"]
	path = networks
	url = git@github.com:achilleas-k/networks-brian
	branch = master
[submodule "npss_playground"]
	path = npss_playground
	url = git@github.com:achilleas-k/npss-playground.git
	branch = master
