[submodule "ou_lif"]
	path = ou_lif
	url = git@bitbucket.org:achilleas-k/ou-lif.git
[submodule "slope_vs_dist"]
	path = slope_vs_dist
	url = git@bitbucket.org:achilleas-k/slope-vs-dist.git
[submodule "spikerlib"]
	path = spikerlib
	url = git@bitbucket.org:achilleas-k/spikerlib
[submodule "connectivity"]
	path = connectivity
	url = git@bitbucket.org:achilleas-k/connectivity
[submodule "delay_learning"]
	path = delay_learning
	url = git@bitbucket.org:achilleas-k/delay-learning-brian
[submodule "networks"]
	path = networks
	url = git@bitbucket.org:achilleas-k/networks-brian
